@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mywork{
 width: 1080px;
 margin: 350px auto;
 display: flex ;
 justify-content: space-between;
}

/* 
.element-animation{
  margin: 2rem 0;
  font-size: 3rem;
  
  
  opacity: 0;
  transform: translateY(100%);
  }

  .element-animation.element-show{
    opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
  } */

.mywork__logo{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 68px;
    font-weight: 600;
    margin-right: 150px;
    align-self: center;
}

.mywork__logo::first-letter{
       color:#2AABEE;

}

.mywork__works{
 display: flex;
 flex-direction: row;
 align-items: center;
 column-gap:26px;
}

.nextarrow img{
  width: 60px;
  opacity: .6;
  height: 50px;
  transform: rotate(90deg);
   animation: rightarrow 3s infinite;
  }



.prevarrow img{
  opacity: .6;
  width: 60px;
  height: 50px;
  transform: rotate(-90deg);
  animation: leftarrow 3s infinite;
}




.myworks__main img{
    opacity: .7;
    width: 330px;
    height: 330px;
    transition: all .2s ease-in ;
}

.myworks__main img:hover{
  opacity: .9;
  transform: scale(1.1);
}



/*MODS*/
.mod__right{
  animation: nextslide .5s;
  animation-iteration-count: 1;
}

.mod__left{
  animation: prevslide .5s;
  animation-iteration-count: 1;
}

@keyframes prevslide{
  0%{
    opacity: 0.2;
    transform: translateX(-50px);
  }
  100%{
    opacity:0.7;
    transform: translateX(0px);
  }
}

@keyframes nextslide{

  0%{
    opacity: 0.2;
    transform: translateX(50px);
  }
  100%{
    opacity:0.7;
    transform: translateX(0px);
  }
}

@keyframes rightarrow{ 
0%{
  opacity: .6;

  transform: translateX(10px)   rotate(90deg);
}
50%{
  opacity: 1;
  transform:translateX(0px) rotate(90deg);
}
100%{
opacity: .6;
transform: translateX(10px)  rotate(90deg);
}

}

@keyframes leftarrow{ 
  0%{
    opacity: .6;
  
    transform: translateX(-10px)   rotate(-90deg);
  }
  50%{
    opacity: 1;
    transform:translateX(0px) rotate(-90deg);
  }
  100%{
  opacity: .6;
  transform: translateX(-10px)  rotate(-90deg);
  }
  
  }
